---
http_interactions:
- request:
    method: get
    uri: https://ipapi.co/8.8.8.8/json/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, OPTIONS, OPTIONS, HEAD
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "ip": "8.8.8.8",
            "network": "8.8.8.0/24",
            "version": "IPv4",
            "city": "Mountain View",
            "region": "California",
            "region_code": "CA",
            "country": "US",
            "country_name": "United States",
            "country_code": "US",
            "country_code_iso3": "USA",
            "country_capital": "Washington",
            "country_tld": ".us",
            "continent_code": "NA",
            "in_eu": false,
            "postal": "94043",
            "latitude": 37.42301,
            "longitude": -122.083352,
            "timezone": "America/Los_Angeles",
            "utc_offset": "-0800",
            "country_calling_code": "+1",
            "currency": "USD",
            "currency_name": "Dollar",
            "languages": "en-US,es-US,haw,fr",
            "country_area": 9629091.0,
            "country_population": 327167434,
            "asn": "AS15169",
            "org": "GOOGLE"
        }
  recorded_at: Fri, 02 Feb 2024 01:25:46 GMT
recorded_with: VCR 6.2.0
